nav {
}
nav > span {
  /* display: inline-block;
  padding: 5px;
  width: 120px;
  height: 15px; */
  /* text-align: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #2060af;
  margin-bottom: 5px; */
}
nav a {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  width: 120px;
  height: 15px;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #2060af;
  margin-bottom: 5px;
  color: #2060af;
  padding: 14px;
}
nav a:hover {
  box-shadow: 2px 2px 4px #357dd5;
}

@media (max-width: 600px) {
  .container {
    display: none;
  }
  .burgerButton {
    position: absolute; /* Встановлюємо абсолютне позиціонування */
    right: 20px;
    top: 15px; /* Вирівнюємо по правому краю */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 12;
  }
 
  .burgerBar {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 50px;
    margin: 3px 0;
    transition: transform 0.3s ease-in-out; /* Додайте анімацію переходу */
  }
 

  /* Стилі для першої та третьої ліній хрестика */
  .burgerButton.active .activDayNignt:first-child {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: #fff;
  }

  .burgerButton.active .activDayNignt:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: #fff;
  }

  /* Стилі для другої лінії (перекресні лінії хрестика) */
  .burgerButton.active .activDayNignt:nth-child(2) {
    opacity: 0;
    :aliceblue ;
  }

  /* Стилі для першої та третьої ліній хрестика */
  .burgerButton.active .burgerBar:first-child {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: #fff;
  }

  .burgerButton.active .burgerBar:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: #fff;
  }

  /* Стилі для другої лінії (перекресні лінії хрестика) */
  .burgerButton.active .burgerBar:nth-child(2) {
    opacity: 0;
    background-color:aliceblue ;
  }
}               
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Змініть прозорість якщо потрібно */
  z-index: 10; /* Позиціонуйте поверх інших елементів */
}