.MainContent {
  text-align: center;
  align-items: center;
  width: 100%;
}
.header {
  background-color: #2060af;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.form{
  margin-bottom: -23px;

}
form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px ;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
@media screen and (max-width: 550px) {
  .form .input {
    width: 80px;
  }
}
.inputGrup {
  position: relative;
  display: inline-block;

}
.input {
  font: inherit;
  color: #2060af;
  padding: 10px;
  border: 1px solid #2060af;
  border-radius: 8px;
  outline: 2px solid #fff;
  background-color: transparent;
  transition: outline-color 500ms;
}

.input:is(:focus, :valid) {
  outline-color: #2060af;
}
.hide_label {
  position: absolute;
  top: 0;
  left: 0;
  translate: 10px 10px;
  color: #2060af;
  transition: translate 500ms;
  scale: 500ms;
}
.input:focus + .hide_label,
.input:valid + .hide_label {
  padding-inline: 5px;
  translate: 10px -14px;
  scale: 0.8;
  background-color: #2060af;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
}

.button {
  background-color: #2060af;
  border-radius: 8px;
  border: 1px solid #2060af;
  color: #fff;
  padding: 14px;

  flex: 1 0 60px;
}
.inputNamber{
  flex: 1 0 120px;
}
.inputName{
  flex: 1 0 140px;
}