

.state{
  width: 80px;
}
.text{
  width: 250px;
}

.progress{
  display: flex;
  width: 150px;
}
.progressControl{
  display: inline-block;
}
.progress_container {
  border-radius: 6px;
  width: 100px;
  height: 15px;
  border: 1px solid #2060af;
  background-color: #f0f0f0;
  position: relative;
}
.progress_inl {
  display: inline-block;
  border-radius: 6px;
  
}
.incr {
  display: block;
  height: 100%;
  background-color: #2060af;
  border-radius: 6px;
  position: absolute; /* Змінено на absolute */
  left: 0; /* Додано */
  right: 0;
  z-index: 2;
}
.regres {
  display: block;
  height: 100%;
  background-color: #c4c3c3;
  position: absolute; /* Змінено на absolute */
  left: 0; /* Додано */
  right: 0;
  z-index: 1;
  border-radius: 6px;
}
.button{
  border: none;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  color: #2060af;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}