.content {
  width: 100%;
}
.header {
  background-color: #2060af;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.birthday__List {
  margin: 0 auto;
}



@media screen and (max-width: 550px) {
  .form .input {
    width: 80px;
  }
}

.inputGrup {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.input {
  font: inherit;
  color: #2060af;
  border: 1px solid #2060af;
  padding: 10px;
  border-radius: 8px;
  outline: 2px solid #fff;
  background-color: transparent;
  transition: outline-color 500ms;
  display: inline-block;
}

.input:is(:focus, :valid) {
  outline-color: #2060af;
}
.hide_label {
  position: absolute;
  top: 0;
  left: 0;
  translate: 10px 10px;
  color: #2060af;
  background-color: #fff;
  padding: 1px;
  transition: translate 500ms;
  scale: 500ms;
  display: inline-block;
}
.input:focus + .hide_label,
.input:valid + .hide_label {
  padding-inline: 5px;
  translate: 10px -14px;
  scale: 0.8;
  background-color: #2060af;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
}

.button {
  background-color: #2060af;
  border-radius: 8px;
  border: 1px solid #2060af;
  color: #fff;
  padding: 14px;
  flex: 0.5 0 auto; /* Змініть flex-basis на auto для всіх елементів */
}
.inputGrup {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden; /* Додайте цю властивість */
}

.inputNamber {
  flex: 1 0 auto; /* Змініть flex-basis на auto для всіх елементів */
}

.inputName {
  flex: 2 0 auto; /* Змініть flex-basis на auto для всіх елементів */
}

.button {
}