.birthday__List {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.birthday__List ul li {
  text-align: center;
  list-style: none;
}
.date {
  width: 100px;
  display: inline-block;
}
.text {
  width: 150px;
  display: inline-block;
}
.hr {
  /* margin-top: 20px;
  margin-bottom: 20px; */
  border-top: 1px solid black;
  height: 100%;
}
.input {
  text-align: center;
  align-items: center;
}
.form {
  display: inline-block;
  margin: 0 auto;
}

.control svg {
  font-size: 20px;
}
.control {
  display: inline-block;
}
