.calendar {
  font-family: Arial, sans-serif;
  width: 100%;
}
.containerMain {
  justify-content: center;
  align-items: center;
  /* width: 90%; */
  margin: 0 auto;
}
.header {
  background-color: #2060af;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.header svg {
  font-size: 20px;
  padding: 0 10px 0 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  padding: 10px;
}

.dayOfWeek {
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.day {
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  background-color: #729ed5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #2060af;
}

.day:hover {
  background-color: #122c4c;
}

.emptyDay {
  padding: 10px;
}
.today {
  background-color: #2060af;
}

.yesterday {
  background-color: #fff;
}
.hasNote {
  position: relative;
}

.hasNote::before {
  content: '\2022'; /* код символу для крапки */
  position: absolute;
  top: 50%;
  left: 27px; /* відступ від лівого боку */
  transform: translateY(-50%);
  font-size: 20px;
  color: #ff0000; /* колір маркера */
}
