nav {
}
nav > span {
  display: inline-block;
  padding: 5px;
  width: 120px;
  height: 15px;
  text-align: center;
  align-items: center;
  border-radius: 8px;

  margin-bottom: 5px;
}
nav a {
  text-decoration: none;
  border: 1px solid #2060af;
}
