.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}

.left-menu {
  width: 20%; /* Ширина лівого меню */
  background-color: #f0f0f0;
  padding: 5px;
}

.content {
  flex-grow: 1; /* Займає всі вільні місця залишені між лівим і правим меню */
  background-color: #e0e0e0;
  padding: 5px;
}

.right-menu {
  width: 20%; /* Ширина правого меню */
  background-color: #161515;
  padding: 5px;
}

* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 550px) {
  .App {
    flex-direction: column; /* Змініть напрямок на вертикальний стовпчик */
    align-items: center; /* Вирівняйте елементи по центру горизонтально */
  }

  .left-menu,
  .content,
  .right-menu {
    width: 100%; /* Розширте всі елементи на всю ширину екрану */
  }

  .left-menu,
  .right-menu {
    text-align: center; /* Вирівняйте текст по центру */
  }

  .right-menu {
    border-top: 1px solid red; /* Додайте верхню межу */
    margin-top: 10px; /* Додайте відступ між правим меню та контентом */
    padding: 10px 0; /* Додайте відступи зверху та знизу */
  }
}
