.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 5px;
}
.hr {
  /* margin-top: 20px;
    margin-bottom: 20px; */
  border-top: 5px solid black;
  height: 10px;
}
.active {
  background-color: #2060af;
  color: white;
}

.left-menu {
  width: 130px; /* Ширина лівого меню */
  padding: 0 5px 0 0;
}

.content {
  flex-grow: 1; /* Займає всі вільні місця залишені між лівим і правим меню */
  padding: 0 5px;
}

.right-menu {
  width: 400px; /* Ширина правого меню */
  padding: 0 0 0 5px;
}

* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .App {
    width: 1000px;
  }
}
@media screen and (max-width: 850px) {
  .App {
    flex-direction: column; /* Змініть напрямок на вертикальний стовпчик */
    align-items: center; /* Вирівняйте елементи по центру горизонтально */
    width: 800px;
  }

  .left-menu,
  .content,
  .right-menu {
    width: 100%; /* Розширте всі елементи на всю ширину екрану */
  }

  .left-menu,
  .right-menu {
    text-align: center; /* Вирівняйте текст по центру */
  }

  .right-menu {
    border-top: 1px solid red; /* Додайте верхню межу */
    margin-top: 10px; /* Додайте відступ між правим меню та контентом */
    padding: 10px 0; /* Додайте відступи зверху та знизу */
  }
}
@media screen and (max-width: 600px) {
  .App {
    width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .App {
    width: 350px;
  }
}
