.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.hr {
  /* margin-top: 20px;
    margin-bottom: 20px; */
  border-top: 1px solid black;
  height: 10px;
}
.active {
  background-color: #2060af;
}

.left-menu {
  width: 130px; /* Ширина лівого меню */
  padding: 5px;
}

.content {
  flex-grow: 1; /* Займає всі вільні місця залишені між лівим і правим меню */
  padding: 5px;
}

.right-menu {
  width: 20%; /* Ширина правого меню */
  padding: 5px;
}

* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 850px) {
  .App {
    flex-direction: column; /* Змініть напрямок на вертикальний стовпчик */
    align-items: center; /* Вирівняйте елементи по центру горизонтально */
  }

  .left-menu,
  .content,
  .right-menu {
    width: 100%; /* Розширте всі елементи на всю ширину екрану */
  }

  .left-menu,
  .right-menu {
    text-align: center; /* Вирівняйте текст по центру */
  }

  .right-menu {
    border-top: 1px solid red; /* Додайте верхню межу */
    margin-top: 10px; /* Додайте відступ між правим меню та контентом */
    padding: 10px 0; /* Додайте відступи зверху та знизу */
  }
}
